.user {
  background: #fff;
  .userBox {
    border-bottom: 1px solid #efefef;
    padding-bottom: 12px;
    margin: 12px;
    .userHead {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      .name {
        font-size: 20px;
        color: #333;
      }
      .avatar {
        flex-basis: 60px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
    .userInfo {
      display: flex;
      flex: 0 0 1;
      justify-content: space-around;
      align-items: center;
      h3 {
        color: #999;
        padding-bottom: 6px;
      }
      p {
        color: #333;
        text-align: center;
      }
      span {
        height: 50px;
      }
    }
  }

  .tab {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    span {
      height: 30px;
      flex-basis: 15%;
      font-size: 14px;
      color: #333;
      &.active {
        color: #62b8d3;
      }
    }
  }
  .list {
    border-bottom: 1px solid #efefef;
    margin: 0 12px;
    li {
      height: 50px;
      font-size: 16px;
      color: #333;
      display: flex;
      justify-content: space-between;
      .num {
        color: #999;
      }
    }
  }
  .loginOut {
    height: 50px;
    line-height: 50px;
    color: #dd4a68;
    margin: 0 12px;
    font-size: 16px;
  }
}
