.comment {
  border: 1px solid #efefef;
  border-top: 2px solid #333;
  margin: 0 12px;
  padding: 12px;

  .pl-post-word {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    display: block;
    height: 80px;
    line-height: 22px;
    font-size: 14px;
    background-attachment: scroll;
    resize: none;
  }
  .commentfooter {
    display: flex;
    justify-content: space-between;
    .commentNum {
      height: 24px;
      line-height: 24px;
      color: #333;
      background: #efefef;
      text-align: center;
      padding: 0 8px;
      font-size: 12px;
      border-radius: 3px;
    }
    .btn {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 11px;
      padding: 0 20px;
      border-radius: 3px;
      background: #42c02e;
      color: #fff;
      border-color: #42c02e;
    }
  }
}
