@import '../../assets/iconfont/iconfont.scss';
.item{
	background:#fff;
	margin-bottom: 20px;
	padding: 6px 12px 12px 12px;
	.itemHead{
		display: flex;
	    justify-content: space-between;
	    margin-bottom: 6px;
	    line-height: 24px;
	    .f12{
	    	font-size: 12px;
	    	line-height: 20px;
	    	color: #666;
	    }
	    img{
			width: 24px;
			height: 24px;
			margin-right: 10px;
			vertical-align: bottom;
			border-radius: 50%;
		}
	}
	.itemImg{
		height: 220px;
		width: 100%;
		vertical-align: bottom;
	}
	.title{
		padding: 6px 0 0 0;
		font-size: 16px;
	}
	.tags{
		color: #666;
		margin-bottom: 12px;
		span{
			font-size: 10px;
			padding-right: 4px;
		}
	}
	.summary{
		font-size: 12px;
		color: #666;
		padding-bottom: 18px;
		border-bottom: 1px solid #e5e5e5;
	}
	.itemBot{
		padding: 8px 0 0 0;
		.icon{
			color: #666;
			font-size: 20px;
			padding-right: 15px;
		}
		.dot{
			float: right;
			em{
				width: 3px;
				height: 3px;
				background: #999;
				display: inline-block;
				margin-right: 3px;
			    vertical-align: middle;
			    border-radius: 50%;
			}
		}
	}
}