@import 'one/variable';
@import "iconfont/iconfont.scss";

.follow{
	margin-left: 20px;
	background: #42c02e;
	color: #fff;
	font-size: 12px;
	border-radius: 12px;
	padding: 0 12px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	&.followed{
		background: $grayDisabled;
	}	
}

// 文章item
.article-item{
	padding-bottom: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #f0f0f0;
	h3{
		padding: 10px 0;
		font-size: 18px;
		.title{
			color: #333
		}
	}
	.summary{
		color: #999
	}
	.info{
		padding: 6px 0 0 0;
		color: #999;
		span{
			margin-right: 10px;
			font-size: 12px;
		}
	}
}

// 评论模块
.comment{
	margin: 120px 0 0 0;
	.avatar{
		flex-basis: 80px;
		img{
			width: 48px;
			height: 48px;
			border-radius: 50%;
		}
	}
	.commentBox{
		display: flex;
		.commentArea{
			flex: 1;
			padding: 20px;
		    border-radius: 6px;
	    	background: #efefeb;
    		box-shadow: inset 2px 2px 6px rgba(0,0,0,.08);
			textarea{
				border: none;
			    background: none;
			    outline: none;
			    width: 100%;
			    display: block;
			    height: 80px;
			    line-height: 22px;
			    font-size: 14px;
			    background-attachment: scroll;
			    resize: none;
			    padding: 0;
			}
			.postBtn{
				
				.submitBtn{
					width: 120px;
					float: right;
					border: 0;
				    background: #555;
				    background: -webkit-linear-gradient(left,#888 0,#555 100%);
				    background: linear-gradient(to right,#888 0,#555 100%);
				    height: 40px;
				    outline: none;
				    color: #fff;
				    border-radius: 20px;
				    font-size: 14px;
				    font-weight: normal;
				    cursor: pointer;
				    padding: 0;
				}
			}
			
		}
	}
	.commentList{
		margin-top: 30px;
		h3{
			font-size: 16px;
			font-weight: bold;
			span{
				color: #f90;
				padding: 0 3px;
			}
		}
			.commentItem{
				margin-top: 30px;

				display: flex;
				padding-bottom: 20px;
				margin-bottom: 30px;
				border-bottom: 1px solid $borderNormal;
			}
			.commentCont{
				flex: 1;
				h4{
					margin-bottom: 10px;
					.comUser{
						font-size: 14px;
						font-weight: bold;
						margin-right: 30px;
					}
					.time{
						color: #aaa;
						font-weight: normal;
						font-size: 12px;
					}
				}
				.commentInfo{
					font-size: 14px;
				}
				.commBot{
					text-align: right;
					a{
						color: #aaa;
						margin-left: 20px;
					}
				}
			}

	}
}
