@import 'one/variable';
@import "iconfont/iconfont.scss";
.follow{
	margin-left: 20px;
	background: #42c02e;
	color: #fff;
	font-size: 12px;
	border-radius: 12px;
	padding: 0 12px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	&.followed{
		background: $grayDisabled;
	}	
}

// 文章item
.article-item{
	padding-bottom: 10px;
	margin-top: 20px;
	border-bottom: 1px solid #f0f0f0;
	h3{
		padding: 10px 0;
		font-size: 18px;
		.title{
			color: #333
		}
	}
	.summary{
		color: #999
	}
	.info{
		padding: 6px 0 0 0;
		color: #999;
		span{
			margin-right: 10px;
			font-size: 12px;
		}
	}
}