@import 'one/common.scss';
@import 'uicommon.scss';
.userIndexBox{
	display: flex;
	padding-top: 30px;
	.mainLeft{
		flex-basis: 680px;
		.infoBox{
			height: 80px;
			display: flex;
			.imgHolder {
				flex-basis: 80px;
				img{
					border-radius: 50%;
				}
			}
			.userInfo{
				flex: 1;
				padding-left: 20px;
				.userName{
					padding-bottom: 10px;
					a{
						color: $dark;
						font-size: 21px;
						&.follow{
							color: #fff;
							font-size: 12px;
						}
					}
				}
				ul{
					li{
						display: inline-block;
						border-right: 1px solid #f0f0f0;
						padding-right: 10px;
						margin-left: 10px;
						a{
							color: $dark;
						}
						&:first-child{
							margin-left: 0
						}
					}
				}
			}
		}
		.articleBox{
			margin-top: 30px;
			padding-bottom: 30px;
			.ui-tab-tab{
				padding: 0 10px 0px 20px;
				.iconfont{
					font-size: 18px;
					font-weight: bold;
				}
			}
		}
	}
	.mainRight{
		flex: 1;
		padding-left: 30px;
		.rightBox{
			& + .rightBox{
				margin-top: 20px;
			}
			padding-bottom: 20px;
			border-bottom: 1px solid $borderNormal;

			h3{
				color: #666;
				padding: 6px 0;
				font-weight: normal;
				a{
					color: $dark
				}
				.iconfont{
					margin-right: 10px;
				}
			}
			.introduce{
				font-size: 14px;
			}
			.ritemList{
				padding: 10px 0;
			}
		}
	}
}


