<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>登录-READY READ -- 锐读</title>
    <link rel="stylesheet" href="/public/static/css/login.css" />
  </head>
  <body>
    <div class="main">
      <div class="sign">
        <div class="loginHead">
          <a href="/signin" class="active">
            登录
          </a>
          <span>·</span>
          <a href="/signup">
            注册
          </a>
        </div>
          <h1>{{success}}</h1>
          
          <form action="/passport/local" method="post">
            <div class="inputBox">
              <div>
                <lebel>
                  <input name="username" class="username" placeholder="请输入用户名">
                </lebel>
              </div>
              <div>
                <lebel>
                  <input name="password" type="password" placeholder="请输入密码">
                </lebel>
              </div>
            </div>
            <div><button type="submit" class="btn sign-in-btn">登录</button></div>
          </form>
          <div class="socialLogin">
            <div>社交账号登录</div>
            <div class="typeList">
              <a href="" class="weibo">
              </a>
              <a href="" class="weixin"></a>
              <a href="" class="qq"></a>
            </div>
            
          </div>
      </div>
    </div>
    <script type="text/javascript" src="/public/static/js/plugin/sea.js"></script>
    <script type="text/javascript" src="/public/static/js/reg.js"></script>
  </body>
</html>