@charset "UTF-8";
body {
  font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font: status-bar;
  font-size: 14px;
  line-height: 1.42858; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body, form, ul, ol, dl, dd, p {
  margin: 0; }

ul, ol {
  list-style-type: none;
  padding: 0; }

img {
  border: 0 none;
  vertical-align: bottom; }

button, input, select, textarea {
  font-size: 1em;
  font-family: inherit; }

a, a:hover {
  text-decoration: none; }

/**
 * 
 * @color.css
 * @author xinxuzhang 
 * @create 16-04-18
**/
/*主色*/
body, .dark {
  color: #4c5161; }

/*蓝色*/
a, .blue, a.dark:hover {
  color: #78bc85; }

/*hover蓝色*/
a:hover {
  color: #9fdaaa; }

/*灰色*/
.gray {
  color: #a2a9b6; }

/*白色*/
.white {
  color: #fff; }

/* 绿色 */
.green {
  color: #01cf97; }

/* 橘色 */
.orange {
  color: #f28c48; }

/* 红色 */
.red {
  color: #f4615c; }

/* 浅色 */
.light {
  color: #f7f9fa; }

/**
 * 
 * @lib.css
 * @author xinxuzhang 
 * @create 15-06-04
 */
/* ---------------------single CSS----------------------- */
/* display */
.dn {
  display: none; }

.di {
  display: inline; }

.db {
  display: block; }

.dtc {
  display: table-cell; }

.dib {
  display: inline-block; }

/* line-height */
.lh14 {
  line-height: 14px; }

.lh16 {
  line-height: 16px; }

.lh18 {
  line-height: 18px; }

.lh20 {
  line-height: 20px; }

.lh22 {
  line-height: 22px; }

.lh24 {
  line-height: 24px; }

.lh28 {
  line-height: 28px; }

/* margin */
.m0 {
  margin: 0; }

.ml1 {
  margin-left: 1px; }

.ml2 {
  margin-left: 2px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mr1 {
  margin-right: 1px; }

.mr2 {
  margin-right: 2px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.mt1 {
  margin-top: 1px; }

.mt2 {
  margin-top: 2px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mb1 {
  margin-bottom: 1px; }

.mb2 {
  margin-bottom: 2px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

/* padding */
.p0 {
  padding: 0; }

.p1 {
  padding: 1px; }

.pl1 {
  padding-left: 1px; }

.pt1 {
  padding-top: 1px; }

.pr1 {
  padding-right: 1px; }

.pb1 {
  padding-bottom: 1px; }

.p2 {
  padding: 2px; }

.pl2 {
  padding-left: 2px; }

.pt2 {
  padding-top: 2px; }

.pr2 {
  padding-right: 2px; }

.pb2 {
  padding-bottom: 2px; }

.pl5 {
  padding-left: 5px; }

.p5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.p10 {
  padding: 10px; }

.pl10 {
  padding-left: 10px; }

.pt10 {
  padding-top: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.p15 {
  padding: 15px; }

.pl15 {
  padding-left: 15px; }

.pt15 {
  padding-top: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.p20 {
  padding: 20px; }

.pl20 {
  padding-left: 20px; }

.pt20 {
  padding-top: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.p30 {
  padding: 30px; }

.pl30 {
  padding-left: 30px; }

.pt30 {
  padding-top: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

/*bgcolor*/
.bgwh {
  background-color: white; }

/*color*/
.wh {
  color: white; }

/* font-size */
.f0 {
  font-size: 0; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f24 {
  font-size: 24px; }

.f28 {
  font-size: 28px; }

/* font-family */
.fa {
  font-family: Arial; }

.fs {
  font-family: Simsun; }

.fw {
  font-family: 'Microsoft Yahei'; }

/* font-style */
.n {
  font-weight: normal;
  font-style: normal; }

.b {
  font-weight: bold; }

.i {
  font-style: italic; }

/* text-align */
.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

.tj {
  text-align: justify; }

/* text-decoration */
.tdl {
  text-decoration: underline; }

.tdn, .tdn:hover, .tdn a:hover, a.tdl:hover {
  text-decoration: none; }

/* letter-spacing */
.lt-1 {
  letter-spacing: -1px; }

.lt0 {
  letter-spacing: 0; }

.lt1 {
  letter-spacing: 1px; }

/* white-space */
.nowrap {
  white-space: nowrap; }

/* word-wrap */
.bk {
  word-wrap: break-word; }

/* vertical-align */
.vm {
  vertical-align: middle; }

.vb {
  vertical-align: bottom; }

.vt {
  vertical-align: top; }

.vn {
  vertical-align: -5px; }

/*float*/
.l {
  float: left; }

.r {
  float: right; }

/* clear */
.cl {
  clear: both; }

/* position */
.rel {
  position: relative; }

.abs {
  position: absolute; }

/*z-index*/
.zx1 {
  z-index: 1; }

.zx2 {
  z-index: 2; }

/* cursor */
.poi {
  cursor: pointer; }

.def {
  cursor: default; }

/* overflow */
.ovh {
  overflow: hidden; }

.ova {
  overflow: auto; }

/* visibility */
.vh {
  visibility: hidden; }

.vv {
  visibility: visible; }

/* ---------------------multiple CSS----------------------- */
/* 清除浮动*/
.clearfix:after,
.fix:after {
  display: table;
  content: '';
  clear: both; }

/* 基于display:table-cell的自适应布局 */
.cell {
  display: table-cell;
  width: 2000px; }

/* 单行文字溢出虚点显示 */
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

/* 可响应focus/click的隐藏 */
.clip {
  position: absolute;
  clip: rect(0 0 0 0);
  *left: -99em; }

/* 块状元素水平居中 */
.auto {
  margin-left: auto;
  margin-right: auto; }

/* 大小不定元素垂直居中 */
.middle {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle; }

/* transition过渡 */
.trans {
  -webkit-transition: all 250ms;
  transition: all 250ms; }

/* 文字无法选中 */
.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* disabled */
.disabled {
  opacity: .4;
  filter: alpha(opacity=40);
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none; }

/**
 *
 * @Button.css
 * @author zhangxinxu
 * @create 15-06-12
 * @edit   17-06-13
           17-11-07 use png+spin for loading
 */
.ui-button {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #4c5161;
  border: 1px solid #d0d0d5;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 50px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  -webkit-transition: border-color .15s, background-color .15s, opacity .15s;
  transition: border-color .15s, background-color .15s, opacity .15s;
  cursor: pointer;
  overflow: visible; }

.ui-button.error {
  border-color: #f4615c !important; }

div.ui-button {
  display: block; }

button,
[type="button"],
[type="submit"] {
  outline: 0; }

input.ui-button,
button.ui-button {
  height: 20px;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }

.ui-button:hover {
  color: #4c5161;
  border-color: #ababaf;
  text-decoration: none; }

.ui-button-clip {
  width: 0;
  height: 0;
  font-size: 0;
  position: absolute;
  clip: rect(0 0 0 0); }

.ui-button-clip.ui-outline + label.ui-button {
  outline: 1px dotted #78bc85;
  outline: 5px auto -webkit-focus-ring-color; }

.ui-button:not(.disabled):active,
.ui-button:not(.loading):active {
  background-color: #f7f9fa; }

.ui-button.disabled:hover,
.ui-button.loading,
.ui-button.loading:hover {
  color: #4c5161;
  background-color: #fff;
  border-color: #d0d0d5;
  cursor: default; }

.ui-button-primary,
.ui-button-primary.disabled:hover,
.ui-button-primary.loading,
.ui-button-primary.loading:hover {
  border: 1px solid #78bc85;
  background-color: #78bc85;
  color: #fff; }

.ui-button-primary:hover {
  background-color: #0160d5;
  border-color: #0160d5;
  color: #fff; }

.ui-button-primary:not(.disabled):active,
.ui-button-primary:not(.loading):active {
  background-color: #0057c3;
  border-color: #0057c3; }

.ui-button-success,
.ui-button-success.disabled,
.ui-button-success.disabled:hover,
.ui-button-success.loading,
.ui-button-success.loading:hover {
  border: 1px solid #01cf97;
  background-color: #01cf97;
  color: #fff; }

.ui-button-success:hover {
  background-color: #00dba2;
  border-color: #00dba2;
  color: #fff; }

.ui-button-success:not(.disabled):active,
.ui-button-success:not(.loading):active {
  background-color: #00bf8e;
  border-color: #00bf8e; }

.ui-button-warning,
.ui-button-warning.disabled,
.ui-button-warning.disabled:hover,
.ui-button-warning.loading,
.ui-button-warning.loading:hover {
  border: 1px solid #f4615c;
  background-color: #f4615c;
  color: #fff; }

.ui-button-warning:hover,
input.ui-button-warning:focus,
button.ui-button-warning:focus {
  background-color: #ff7772;
  border-color: #ff7772;
  color: #fff; }

.ui-button-warning:not(.disabled):active,
.ui-button-warning:not(.loading):active {
  background-color: #dc5652;
  border-color: #dc5652; }

.ui-button.loading {
  cursor: default;
  -ms-pointer-events: none;
  pointer-events: none;
  color: transparent !important;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; }

.ui-button.loading:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: no-repeat center; }

.ui-button.loading:before,
input.ui-button.loading {
  background-image: url(images/Button/loading.gif); }

.ui-button-primary.loading:before,
input.ui-button-primary.loading {
  background-image: url(images/Button/loading-primary.gif); }

.ui-button-success.loading:before,
input.ui-button-success.loading {
  background-image: url(images/Button/loading-success.gif); }

.ui-button-warning.loading:before,
input.ui-button-warning.loading {
  background-image: url(images/Button/loading-warning.gif); }

/* IE10+ png loading */
.ui-button.loading::before {
  background: url(images/Button/loading-blue.png), linear-gradient(transparent, transparent);
  background-size: 100%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 800ms linear infinite; }

.ui-button-primary.loading::before,
.ui-button-success.loading::before,
.ui-button-warning.loading::before {
  background: url(images/Button/loading-white.png), linear-gradient(transparent, transparent);
  background-size: 100%; }

/* IE8 loading文字隐藏控制-背景色覆盖 */
@media \0screen\,screen\9 {
  .ui-button.loading:before {
    width: auto;
    height: auto;
    background-color: inherit; } }

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black; }

.hljs-comment,
.hljs-quote {
  color: #006a00; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #aa0d91; }

.hljs-name {
  color: #008; }

.hljs-variable,
.hljs-template-variable {
  color: #660; }

.hljs-string {
  color: #c41a16; }

.hljs-regexp,
.hljs-link {
  color: #080; }

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-number,
.hljs-meta {
  color: #1c00cf; }

.hljs-section,
.hljs-class .hljs-title,
.hljs-type,
.hljs-attr,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
  color: #5c2699; }

.hljs-attribute,
.hljs-subst {
  color: #000; }

.hljs-formula {
  background-color: #eee;
  font-style: italic; }

.hljs-addition {
  background-color: #baeeba; }

.hljs-deletion {
  background-color: #ffc8bd; }

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f; }

.hljs-doctag,
.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.header {
  position: relative;
  z-index: 110;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(99, 99, 99, 0.15); }

.header a.logo {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  padding-left: 20px;
  line-height: 50px; }

.header .fr {
  float: right;
  display: flex;
  height: 50px;
  align-items: center;
  margin-right: 20px; }

.header button.btn,
.header a.btn {
  display: inline-block;
  height: 24px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  line-height: 24px;
  padding: 0 12px;
  font-size: 12px;
  color: #333;
  margin-right: 12px;
  width: 76px;
  text-align: center;
  box-sizing: content-box; }

.header a.btn.add {
  background-color: #0d88fb;
  color: #fff;
  border: 1px solid #0d88fb; }

.header button.btn.save:hover {
  box-shadow: 0 0 3px #efefef; }

.user-avatar {
  border-radius: 50%;
  cursor: pointer; }

.user-avatar:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }

.edittoolbar {
  height: 40px;
  justify-content: center;
  align-items: center; }

.docwrap {
  background-color: #f5f6f7; }

.editor-wrapper {
  padding-bottom: 20px; }

.editor-box {
  width: 794px;
  overflow: hidden;
  box-shadow: 0 1px 6px #ccc;
  width: 794px;
  min-height: 995px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #fff; }

.editor {
  counter-reset: chapter section subsec;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px 100px 20px 100px; }

.editor-title {
  margin: 0 100px;
  width: auto;
  height: 60px;
  padding-top: 90px;
  border-bottom: 1px solid #e8ecf1;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica,Tahoma,Arial,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif; }

.editor-title input {
  font-size: 22.5pt;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-weight: 700; }
