body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, SF UI Display, Arial, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
.btn,
.loginBtn {
  margin-top: 40px;
  height: 40px;
  line-height: 40px;
  background: #ddd;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  &.active {
    background: #222;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  background: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #efefef;
  a {
    flex: 1;
    color: #333;
    .iconfont {
      font-size: 24px;
    }
  }
}
