.comment-panel{
	padding: 0 12px;
	background: #fff;

	.citem{
		border-bottom: 1px solid #efefef;
		font-size: 12px;
		margin-top: 15px;
		.chead{
			overflow: hidden;
			vertical-align: top;
			img{
				width: 12px;
				height: 12px;
				border-radius: 50%;
				float: left;
				vertical-align: top;
				margin-top: 2px;
			}
			.name{
				float: left;
				margin-left: 10px;
			}
			.time{
				color: #999;
				float: right;
			}
		}
		.cbody{
			margin: 10px 0 10px 10px;
		}
		.cfoot{
			text-align: right;
			margin-bottom: 10px;
			color: #666;
			em{
				font-style: normal;
				vertical-align: top;
				margin-top: 3px;
				margin-left:3px;
				display: inline-block;
			}
		}
	}
	.noComment{
		color: #999;
		text-align: center;
		padding: 20px 0;
	}
}