.crawler{
    height: 100vh;
    .crawlerList{
        padding: 12px 12px 0 12px;
    }
    .title{
        color: #333;
        &.posted{
            color: #666;
        }
    }
    .summary{
        font-size: 12px;
        color: #666;
        &.posted{
            color: #999;
        }
    }
}